body {
    font-family: Arial, Helvetica, sans-serif;
  }
a {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

a:hover {
    color: inherit;
    text-decoration: underline;
  }
ul {
    display: flex;
}

.navi {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.gridicon {
    width: 20px;
    height: 20px;
    margin-top: 1px;
}

.gridicon:hover {
    opacity: 0.5;
}
.sign_in {
    background-color: hsl(207, 75%, 38%);
    padding: 10px 10px; 
    margin-top: -8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none;
    align-self: center;
}
a.sign_in:hover {
    text-decoration-line: none;
    color: white;
}
body > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 20px;
    column-gap: 10px;
    position: fixed;
    top: 40%;
    bottom: 50%;
    left: 20%;
    right: 20%;
    justify-content: center;
}
.item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1 2;
    border-radius: 20px;
    width: 500px;
    height: 40px;
}
.item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2 3;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: hsla(180, 4%, 90%, 0.973);
}
.item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2 3;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: hsla(180, 4%, 90%, 0.973);
}
.footbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    padding: 6px 6px;
    background-color: hsla(180, 3%, 79%, 0.87);
    border: none;
}
li {
    margin: 5px;
    padding: 5px;
}

